@use '../styles/globals.scss';

foooter.footer {
    bottom: 0;
}

.credits {
    background: globals.$purple;
    text-align: center;
    font-weight: 600;
    font-family: 'MuseoModerno', cursive;
    color: darken(globals.$purple, 9%);
    padding: 0.5rem;
    text-shadow: 0 0 23px lighten(globals.$purple, 35%);
}

.clickys {

    background: globals.$mint;
    padding: 2rem 10%;
    
    h2 {
        color: globals.$violet;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'MuseoModerno', cursive;
    }
}

.links {
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    span {
        font-family: 'Outfit', sans-serif;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        column-gap: 8px;
        text-rendering: optimizeLegibility;
        cursor: pointer;
    }
}