@use '../styles/globals.scss';

foooter.footer {
    bottom: 0;
}

.grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.credits {
    background: globals.$purple;
    text-align: center;
    font-weight: 400;
    font-family: 'MuseoModerno', cursive;
    color: globals.$white;
    padding: 2rem;
}

.links {
    background: globals.$mint;
    padding: 2rem 10%;
    
    h2 {
        color: globals.$violet;
        font-size: 2rem;
        font-weight: 400;
        font-family: 'MuseoModerno', cursive;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-family: 'Outfit', sans-serif;
        font-size: 1.25rem;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        column-gap: 5px;
    }
}