@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MuseoModerno', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

div.flexLayout {
  display: flex;
  flex-direction: column;
}