@use './globals.scss';

main.main {
   background: globals.$white;
}

section.jumbo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: globals.$violet;
    position: relative;
}

.arrow {
    position: absolute;
    bottom: 2rem;
    animation: wiggle 1s ease-in-out infinite alternate;
    opacity: 0.5;
    transition: all 300ms;
    cursor: pointer;

    &:hover {
        animation: none;
        transform: scale(1.25);
        opacity: 1;
    }
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        padding: 2rem;
        flex-shrink: 0;
    }

    h1 {
        font-size: clamp(4rem, 10vw, 10rem);
        font-weight: 300;
        line-height: 1;
        color: globals.$mint;
        text-shadow: 10px 10px 0 globals.$purple;
        border-left: solid 1px globals.$white;
        background: globals.$violet;
        z-index: 1;
    }
    
    h2 {
        font-weight: 300;
        font-size: clamp(1.25rem, 3vw, 3rem);
        color: globals.$white;
        animation: slide 500ms ease-out forwards;
        white-space: nowrap;
        overflow: hidden;
        text-align: right;
    }
}

@mixin textPadding {
    margin: 6rem 10%;
    padding-bottom: 6rem;
    border-bottom: solid thin #ddd;
}

section.about {
    @include textPadding;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 3fr 2fr;
    column-gap: 2rem;
    align-items: center;
}

section.contact {
    @include textPadding;
}

section.faq {
    @include textPadding;
}

.textContent {
    @include globals.texty;
}

.trivia {

    background: globals.$sky;
    padding: 1rem 3rem;
    color: #333;

    h3 {
        font-weight: 400;
        font-weight: 1.75rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
    }
}

.formContainer { 
    margin: 3rem auto 0 auto;
    max-width: clamp(30rem, 40rem, 60rem);
}

.form {

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    & > * {
        width: 100%;
        padding: 1rem;
        border: solid 1px #ccc;
        font-weight: 300;
        color: #333;
        font-size: 1.125rem;
    }

    textarea {
        resize: vertical;
    }

    button {
        background: globals.$mint;
    }
}

.faqContent {

    margin-top: 2rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        background: globals.$sky;
        border: solid 1px globals.$mint;
        transition: all 100ms ease-in-out;
        
        &:hover {
            transform: scale(1.0125);
            border: solid 2px globals.$mint;
        }
    }

    h3 {
        color: globals.$violet;
        font-size: 1.25rem;
        margin-bottom: 3px;
    }

    p {
        color: globals.$purple;
        font-size: 1.125rem;
    }
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-7.5%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
    }
    60% {
        transform: translateY(-7.5%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes wiggle {
    from {
        margin-bottom: 5px;
    }
    to {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 500px) {

    .text {

        flex-direction: column;

        h1 {
            border-left: none;
            border-top: solid 1px globals.$white;
            text-align: center;
        }

        h2 {
            animation: slideFromBottom 500ms ease-out forwards;
            text-align: center;
        }
    }
}

@media screen and (max-width: 720px) {

    section.about {
        grid-template-columns: 100%;
    }

    .trivia {
        padding: 1rem 2rem;
    }
}